.download-btn{
    border:none;
    background:none;
    font-size:18px;
    color:#2563eb;
    cursor:pointer;
}

.download-btn:hover{
    transform:translateY(-2px);
}

@media(max-width:768px){

    .resume-preview{
        margin-top:20px;
    }

}